.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: var(--color-gradient);
	border: none;
	border-radius: 30px;
	color: var(--color-text);
	padding: 7px 25px;
	box-shadow: 0 4.1875px 8.375px rgb(16 19 49 / 15%);
	font-family: var(--font-text);
}

.sizel {
	font-size: var(--font-size-22);
}

.sizem {
	font-size: var(--font-size-20);
}

.sizes {
	font-size: var(--font-size-16);
}

@media (max-width: 768px) {
	.sizel {
		font-size: var(--font-size-16);
	}

	.sizem {
		font-size: var(--font-size-16);
	}

	.sizes {
		font-size: var(--font-size-14);
	}
}
