.paragraph {
	color: var(--color-text);
}

.level1 {
	font-size: var(--font-size-22);
}

.level2 {
	font-size: var(--font-size-20);
}

.opacity80 {
	opacity: 0.8;
}

@media (max-width: 768px) {
	.level1 {
		font-size: var(--font-size-16);
	}

	.level2 {
		font-size: var(--font-size-14);
	}
}
