:root {
	--color-bg: #0f103f;
	--color-text: #efeeea;
	--color-dark: #080922;
	--color-accent: #942263;
	--color-header: #1c1c654d;
	--color-spots: #942263;
	--color-menu-bg: #942263;
	--color-forms: #ebfaff4d;

	--color-homepage-1: #641848;
	--color-homepage-2: #ae225d;
	--color-homepage-3: #631c65;
	--color-homepage-4: #4d1c65;
	--color-homepage-5: #3a3499;

	--color-gradient: linear-gradient(to left, #94228e, #2957a3);
}
