@font-face {
	font-family: NauryzRedKeds;
	//src: url('../assets/fonts/NauryzRedKeds.ttf') format('truetype');
	src: url('../assets/fonts/NauryzRedKeds.ttf') format('woff2');
	
	font-weight: bold;
	font-styles: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	font-family: 'Comfortaa Variable', Arial, sans-serif;
	box-sizing: border-box;
	color: var(--color-text);
	font-weight: var(--font-weight-regular);
	text-decoration: none;
	margin: 0;
}

body,
html {
	width: 100dvw;
	max-width: 100vw;
	min-height: 100vh;
	overflow-x: hidden;
	background: var(--color-bg);
}

#app {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}

#main {
	flex: 1;
	min-height: 0;
}

* {
	box-sizing: border-box;
}
