.title {
	color: var(--color-text);
	font-family: var(--font-title);
}

.level1 {
	font-size: var(--font-size-80);
}

.level2 {
	font-size: var(--font-size-40);
}

@media (max-width: 768px) {
	.level2 {
		font-size: var(--font-size-30);
	}
}
