.footer {
	width: 100%;
	background-color: transparent;
	margin-top: auto;
	display: flex;
	position: fixed;
	bottom: 0;
	align-items: center;
	justify-content: center;
	padding-block: 1.4rem;
}

.text {
	text-align: center;
}
